.left-content, .right-content {
    width: 50%;
    position: relative;
}

.left-content {
    float: left;
}

.right-content {
    float: right;
}

.left-content p, .right-content p {
    margin: 20px;
}

.right-content img {
    z-index: -10;
    clear: right;
}

#HeadShot {
    width: 360px;
    border-radius: 180px;
}

.flex-wrapper {
    display: flex;
    position: relative;
    height: auto;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

.flex-wrapper:after {
    content: "";
    clear: both;
    display: table;
}

.heading {
    position: relative;
    margin: auto;
    left: -50px;
}

.heading h1 {
    font-size: 4em;
    font-weight: 300;
}

.heading p {
    font-size: 1.5em;
}

.row {
    display: block;
    margin: 10px 0;
}

.label {
    display: inline-block;
    position: relative;
    border: 1px solid #555;
    padding: 20px;
    background-color: rgba(0,0,0,0);
    z-index: 10;
    box-sizing: border-box;
    transition: 0.5s;
    letter-spacing: 2px;
}

#degree {
    width: 100%;
    background-color: #555;
    color: white;
}

.label:hover {
    background-color: #555;
    color: white;
    cursor: default;
}

#musician {
    top: 10px;
    left: 30px;
}

#cook {
    top: 5px;
    left: 10px;
}

#tck {
    top: 10px;
    left: 20px;
}

#unemployed {
    left: -30px;
}

#courses div {
    margin: 5px;
    font-size: 0.8em;
}

#school {
    box-sizing: border-box;
    top: 40px;
}

#skills h3 {
    color: #555;
    font-weight: 200;
}

.skill {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #555;
    width: auto;
    margin: 10px;
    transition: 0.5s;
}

.skill:hover {
    background-color: #555;
    color: white;
    cursor: default;
}

.skill-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.skillbar {
	position:relative;
	display:block;
    margin-bottom:8px;
    width:90%;
    margin-left: auto;
    margin-right: auto;
	background:#eee;
    height:25px;
    box-sizing: border-box;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

@media (max-width: 550px) {
    .skillbar {
        width: 100%;
    }
}

.skillbar-title {
    position:absolute;
    text-align: center;
	top:0;
	left:0;
    width: 80px;
    font-size:10px;
    height: 100%;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}



.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    height: 100%;
    line-height: 25px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:100%;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skillbar-title.red {
    background-color: #db5461;
}
.skillbar-bar.red {
    background-color: #db5461;
}

.skillbar-title.green {
    background-color: #bcd979;
}
.skillbar-bar.green {
    background-color: #bcd979;
}

@media (max-width: 799px) {
    .left-content, .right-content {
        width: 90%;
        display: block;
        margin: auto;
        float: none;
    }

    .heading {
        position: static;
    }

    .right-content img {
        display: block;
        float: none;
        margin: auto;
    }

    .flex-wrapper {
        display: block;
        margin: 60px auto;
    }

    #school {
        position: static;
    }
}