html{font-size:100%;} 

body {
    text-align: center;
    background-image: linear-gradient(rgb(190,210,230), rgb(150, 170, 220), rgb(70,95,120));
    color: #555b6e;
    margin: 0;
    font-family: 'Krub', sans-serif;
}

p {
    height: auto;
    font-size: 1.1em;
    font-family: 'Nunito', Helvetica, sans-serif;
    font-weight: 300;
}

.Text {
    margin: auto;
    width: 90%;
}

.Content {
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
}

@media(min-width: 850px) {
    .Text {
        width: 700px;
    }
}


.Navbar {
    width: 0;
    margin: auto;
    height: 5px;
    overflow: hidden;
    position: fixed;
    top: 20px;
    left: 0;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    background-color: #db5461;
    opacity: 0;
    transition: 0.8s;
    -webkit-transition: 0.8s;
}

.Navbar.show {
    opacity: 0.9;
    width: 100%;
}

.Navbar.expand {
    height: 45px;
}

@media (max-width: 799px) {
    .Navbar {
        display: none;
    }
}

.Navbar ul {
    margin: 0;
    width: 60%;
    margin-left: 30%;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    transition: opacity 1s;
}

.Navbar li {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
	display: flex;
    width: auto;
    align-items: center;
}

.Navbar a {
	text-decoration: none;
    height: 100%;
	box-sizing: border-box;
    padding: 16px 10px;
    border-bottom: 2px solid transparent;
    color: white;
    transition: border-bottom 0.2s;
    text-shadow: 1px 1px 1px #000;
}

.Navbar a:hover,
.Navbar a.active {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.Navbar a:visited {
    color: white;
}

.hero-image {
    background-size: 100%;
    width: 100%;
    margin: auto;
    min-height: 65.2%;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 9vw)
    );
    -webkit-clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 9vw)
    );
}


.BottomPhoto {
    background-size: 100%;
    width: 100%;
    margin: auto;
    mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) ,rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
}

section {
    position: relative;
    padding: calc(20px + 9vw) 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    height: auto;
    box-sizing: border-box;
    border-left: 64px solid #bcd979;
    clip-path: polygon(
        0 0,
        100% calc(0% + 9vw),
        100% calc(100% - 9vw),
        0 100%
    );
    -webkit-clip-path: polygon(
        0 0,
        100% calc(0% + 9vw),
        100% calc(100% - 9vw),
        0 100%
    );
}

.ExpandableContent {
    overflow: hidden;
    height: auto;
    transition: max-height 0.5s;
    -webkit-transition: max-height 0.5s;
}

.Bluebg {
    background-color: #e3f2fd;
}

.Whitebg {
    background-color: #fff;
}

.Bluebg h2 {
    color: #241e4e;
}

.Whitebg h2 {
    color: #241e4e;
}

.Yellowbg {
    background-color: #bcd979;
}

.Yellowbg h2 {
    color: #241e4e;
}

h3 {
    color: #241e4e;
}

#Resume {
    overflow: scroll;
}


#Contact {
    clip-path: polygon(
        0 9vw,
        100% 0,
        100% 100%,
        0 100%
    );
    -webkit-clip-path: polygon(
        0 9vw,
        100% 0,
        100% 100%,
        0 100%
    );
    padding-bottom: 50px;
    padding-right: 64px;
}  

#Grad {
    width: 62%;
    margin-bottom: 30px;
}

@media(min-width: 850px) {
    #Grad {
        width: 510px;
    }
}

.Right {
    width: 62%;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

.Left {
    width: 62%;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}

@media(min-width: 750px) {
    .Right {
        width: 400px;
        float: right;
        margin: 20px;
    }
    .Left {
        width: 400px;
        float: left;
        margin: 20px;
    } 
}

#LinkIcon {
    float: left;
}

.Title {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}

.Title img {
    height: 20px;
    margin: 0 10px;
}

.Title h3 {
    margin-bottom: 0px;
}

.ContactInfo {
    color: inherit;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.ContactInfo img {
    height: 20px;
    margin: 0 10px;
}

#ResumeImg {
    width: 800px;
    margin: auto;
}

.Expandable:hover {
    cursor: pointer;
    color: #db5461;
}

.SidebarToggle {
    width: 40px;
    height: 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    right: 0;
    margin: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    z-index: 50;
}

.SidebarToggle:hover {
    cursor: pointer;
}

.SidebarToggle div {
    width: 90%;
    height: 3px;
    background-color: #333;
}

.Sidebar {
	position: fixed;
	width: 280px;
	max-width: 70%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 700;
	background-color: white;
	padding: 32px 16px;
    box-sizing: border-box;
}

.Sidebar ul {
    margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-flow: column;
	justify-content: center;
	height: 100%;
}

.Sidebar li {
    margin: 10px 0;
	box-sizing: border-box;
	display: block;
	width: 100%;
}

.Sidebar a {
    text-decoration: none;
	width: 100%;
	box-sizing: border-box;
    display: block;
    text-shadow: 1px 1px 1px #ccc;
}

.Sidebar a:hover {
    cursor: pointer;
}

@media (min-width: 800px) {
	.Sidebar {
		display: none;
    }
    .Overlay {
        display: none;
    }
    .SidebarToggle {
        display: none;
    }
}
    
.Overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 40;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.5);
}

.Cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #bcd979;
}

/* .ExpandableContent {
    padding: 0;
    margin: 0;
} */
