body {
    text-align: center;
    background-color: #97d2fb;
    color: #555b6e;
    margin: 0;
    font-family: 'Noto Serif JP', sans-serif;
}

p {
    margin: auto;
    margin-bottom: 30px;
    width: 90%;
}

.Content {
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
}

@media(min-width: 850px) {
    p {
        width: 700px;
    }
}

.Navbar {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 10px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    background-color: #db5461;
    opacity: 0.9;
}

.Navbar ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}

.Navbar li {
    margin: 0;
    box-sizing: border-box;
	display: flex;
    width: auto;
    align-items: center;
}

.Navbar a {
	text-decoration: none;
	height: 100%;
	box-sizing: border-box;
    padding: 16px 10px;
    border-bottom: 2px solid transparent;
    color: white;
}

.Navbar a:hover,
.Navbar a:active {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.Navbar a:visited {
    color: white;
}

.TopPhoto {
    background-image: url(assets/america-california-hill-631007.jpg);
    background-size: 100%;
    width: 100%;
    margin: auto;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 calc(100% - 9vw)
    );
}

section {
    position: relative;
    padding: calc(20px + 9vw) 0;
    width: 100%;
    clip-path: polygon(
        0 0,
        100% calc(0% + 9vw),
        100% 100%,
        0 calc(100% - 9vw)
    );
}

.Bluebg {
    background-color: #e3f2fd;
}

.Whitebg {
    background-color: #fff;
}

.Bluebg h2 {
    color: #241e4e;
}

.Whitebg h2 {
    color: #241e4e;
}

.Yellowbg {
    background-color: #bcd979;
}

.Yellowbg h2 {
    color: #241e4e;
}

#Resume {
    clip-path: polygon(
        0 0,
        100% calc(0% + 9vw),
        100% 100%,
        0 calc(100% - 9vw)
    );
    overflow: scroll;
}

#About {
    clip-path: polygon(
        0 0,
        100% calc(0% + 9vw),
        100% calc(100% - 9vw),
        0 100%
    );
}

#Projects {
    clip-path: polygon(
        0 9vw,
        100% 0,
        100% 100%,
        0 calc(100% - 9vw)
    );
}

#Contact {
    clip-path: polygon(
        0 0,
        100% calc(0% + 9vw),
        100% 100%,
        0 100%
    );
}  

#Grad {
    width: 60%;
    border-radius: 50px;
    margin-bottom: 30px;
}

@media(min-width: 850px) {
    #Grad {
        width: 510px;
    }
}

#Right {
    width: 62%;
    display: block;
    padding: 20px;
    margin: auto;
    border-radius: 50px;
}

@media(min-width: 650px) {
    #Right {
        width: 400px;
        float: right;
    }
}

#Left {
    width: 62%;
    display: block;
    padding: 20px;
    margin: auto;
    border-radius: 50px;
}

@media(min-width: 650px) {
    #Left {
        width: 400px;
        float: left;
    }
}

#LinkIcon {
    float: left;
}

.LinkTitle {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.LinkTitle img {
    height: 20px;
    margin: 0 10px;
}

.ContactInfo {
    color: inherit;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.ContactInfo img {
    height: 20px;
    margin: 0 10px;
}

#ResumeImg {
    width: 800px;
    margin: auto;
}